In [9]:
## importing necessary packages required
import mysql.connector as mysql
import os
import pandas as pd
import numpy as np

In [10]:
## creating the connection to database server
conn = mysql.connect(user='dm_team1', password='dm_team1123#', host='18.136.56.185',buffered=True)

In [11]:
## opening cursor to get the databases present over that server
cursor = conn.cursor()
databases = ("show databases")
cursor.execute(databases)
databaselist = cursor.fetchall()
for (database) in databaselist:
    print(database)

('information_schema',)
('project_itsm',)

In [13]:
## connecting the database
connection=mysql.connect(host='18.136.56.185',
                                  user='dm_team',
                                  password='dm_team123#',
                                  database='information_schema')

In [14]:
## checking the tables presnet on the database
db_tables=pd.read_sql_query('show tables',connection)
print(db_tables)

             Tables_in_information_schema
0                          CHARACTER_SETS
1                              COLLATIONS
2   COLLATION_CHARACTER_SET_APPLICABILITY
3                                 COLUMNS
4                       COLUMN_PRIVILEGES
5                                 ENGINES
6                                  EVENTS
7                                   FILES
8                           GLOBAL_STATUS
9                        GLOBAL_VARIABLES
10                       KEY_COLUMN_USAGE
11                        OPTIMIZER_TRACE
12                             PARAMETERS
13                             PARTITIONS
14                                PLUGINS
15                            PROCESSLIST
16                              PROFILING
17                REFERENTIAL_CONSTRAINTS
18                               ROUTINES
19                               SCHEMATA
20                      SCHEMA_PRIVILEGES
21                         SESSION_STATUS
22                      SESSION_VARIABLES
23                             STATISTICS
24                                 TABLES
25                            TABLESPACES
26                      TABLE_CONSTRAINTS
27                       TABLE_PRIVILEGES
28                               TRIGGERS
29                        USER_PRIVILEGES
30                                  VIEWS
31                           INNODB_LOCKS
32                             INNODB_TRX
33                   INNODB_SYS_DATAFILES
34                      INNODB_LOCK_WAITS
35                  INNODB_SYS_TABLESTATS
36                             INNODB_CMP
37                         INNODB_METRICS
38                       INNODB_CMP_RESET
39                   INNODB_CMP_PER_INDEX
40                    INNODB_CMPMEM_RESET
41                      INNODB_FT_DELETED
42                 INNODB_BUFFER_PAGE_LRU
43                     INNODB_SYS_FOREIGN
44                     INNODB_SYS_COLUMNS
45                     INNODB_SYS_INDEXES
46             INNODB_FT_DEFAULT_STOPWORD
47                      INNODB_SYS_FIELDS
48             INNODB_CMP_PER_INDEX_RESET
49                     INNODB_BUFFER_PAGE
50                          INNODB_CMPMEM
51                  INNODB_FT_INDEX_TABLE
52                INNODB_FT_BEING_DELETED
53                 INNODB_SYS_TABLESPACES
54                  INNODB_FT_INDEX_CACHE
55                INNODB_SYS_FOREIGN_COLS
56                      INNODB_SYS_TABLES
57               INNODB_BUFFER_POOL_STATS
58                       INNODB_FT_CONFIG

In [17]:
## querying the table
query = 'select * from INNODB_CMPMEM'
df = pd.read_sql(query,connection)
print(df.shape)
df.head()

DatabaseError: Execution failed on sql 'select * from INNODB_CMPMEM': 1227 (42000): Access denied; you need (at least one of) the PROCESS privilege(s) for this operation