In [1]:
## importing necessary packages required
import mysql.connector as mysql
import os
import pandas as pd
import numpy as np

In [2]:
## creating the connection to database server
conn = mysql.connect(user='dm_team1', password='dm_team1123#', host='18.136.56.185',buffered=True)

In [3]:
## opening cursor to get the databases present over that server
cursor = conn.cursor()
databases = ("show databases")
cursor.execute(databases)
databaselist = cursor.fetchall()
for (database) in databaselist:
    print(database)

('information_schema',)
('project_banking',)

In [6]:
## connecting the database
connection=mysql.connect(host='18.136.56.185',
                                  user='dm_team1',
                                  password='dm_team1123#',
                                  database='project_banking')

In [7]:
## checking the tables presnet on the database
db_tables=pd.read_sql_query('show tables',connection)
print(db_tables)

  Tables_in_project_banking
0              Cust_Account
1         Cust_Demographics
2              Cust_Enquiry

In [8]:
## querying the table
query = 'select * from Cust_Account'
df = pd.read_sql(query,connection)
print(df.shape)
df.head()

(186329, 21)

,dt_opened,customer_no,upload_dt,acct_type,owner_indic,opened_dt,last_paymt_dt,closed_dt,reporting_dt,high_credit_amt,...,amt_past_due,paymenthistory1,paymenthistory2,paymt_str_dt,paymt_end_dt,creditlimit,cashlimit,rateofinterest,paymentfrequency,actualpaymentamount
0,10-Nov-15,12265,20-Oct-15,6,1,09-Jun-13,30-Jun-14,05-Jul-14,30-Sep-15,20900,...,,"""""""STDSTDSTDXXXXXXXXXXXXXXXSTDXXXXXXXXXXXXXXXS...",,01-Sep-15,01-Jul-14,,,,,
1,10-Nov-15,12265,20-Oct-15,10,1,25-May-12,06-Sep-15,,03-Oct-15,16201,...,,"""""""0000000000000000000000000000000000000000000...","""""""000000000000000000000000000XXX0000000000000...",01-Oct-15,01-Nov-12,14000,1400,,3,5603
2,10-Nov-15,12265,20-Oct-15,10,1,22-Mar-12,31-Aug-15,,30-Sep-15,41028,...,,"""""""0000000000000000000000000000000000000000000...","""""""0000000000000000000000000000000000000000000...",01-Sep-15,01-Oct-12,,,,,
3,20-Jul-15,15606,09-Jul-15,10,1,13-Jan-06,,26-Jul-07,31-Jan-09,93473,...,,"""""""1200900600600600300000000000000000000000000...",,01-Jul-07,01-Feb-06,,,,,
4,20-Jul-15,15606,09-Jul-15,6,1,18-Jan-15,05-May-15,,31-May-15,20250,...,,"""""""000000000000000""""""",,01-May-15,01-Jan-15,,,,,

In [9]:
df.to_csv('Cust_Account')

In [10]:
## querying table 
query = 'select * from Cust_Demographics'
df = pd.read_sql(query,connection)
print(df.shape)
df.head()
df.to_csv('Cust_Demographics')

(23896, 83)

In [11]:
## querying table
query = 'select * from Cust_Enquiry'
df = pd.read_sql(query,connection)
print(df.shape)
df.head()
df.to_csv('Cust_Enquiry')

(413188, 6)